* {
    box-sizing: border-box;
     font-family: Inter, sans-serif;
     font-size: 1.2rem;
}
hrml,body{
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    background-color: #F55A5A;
    justify-content: center;
}
#logo{
    height: 30px;
}
#header-text{
    margin-left: 10px;
    color: white;
    font-size: 0.9rem;

}
#entry{
    display:flex;
    /* justify-content: center;
    align-items: center; */
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
#japan-container{
    /* height: 240px; */
    width: 240px;
    height: 240px;
    overflow: hidden;
    margin-top: 15px;
   
}
#japan{
    width: 100%;
    height: 100%;
    object-fit: cover;
     border-radius: 5px;
     flex-shrink: 0;
    
}
#country{
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-right: 12px;
}
#japan-maplink{
    color:grey;
    font-size: 0.8rem;
    text-decoration: none;
}
#entry-title{
    margin-top: 7px;
    font-size: 1.5rem;
    font-weight: bold;
}
#entry-date{
    font-weight: bold;
}
#entry-text{
     line-height: 1.5;
    font-size: 0.8rem;
     
}
#japan-header{
    margin-left: 15px;

}
#location{
    height: 15px;
}