* {
    box-sizing: border-box;
     font-family: Inter, sans-serif;
     
}
hrml,body{
    margin: 0;
}
.container{
    margin: 45px  40px;

}
header{
    display: flex;
    align-items: center;
    background-color: #F55A5A;
    justify-content: center;
}
#logo{
    height: 30px;
}
#header-text{
    margin-left: 10px;
    color: white;
    font-size: 0.9rem;

}
#entry{
    display: flex;
    margin-bottom: 36px;
    align-items: center;
    margin-top: 10px;
}
#main-image-container{
   width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
    
   
}
#image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
#country{
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-right: 12px;
}
a{
    color:grey;
    font-size: 0.7rem;
    text-decoration: none;
}
#entry-title{
   margin-top: 7px;
    margin-bottom: 17px;
}
#entry-date{
    font-weight: bold;
}
.entry-text{
     line-height: 1.5;
    font-size: 0.8rem;
     
}
#entry-header{
    margin-left: 15px;
    margin-bottom: 36px;
    

}
#location{
    height: 15px;
}